*{
    margin:0;
    padding:0
    
}

body{
    background-color:  #121212;
    width:  100vw;
   min-height:100vh;

   overflow-x:hidden ;
}
header{
     position:fixed;
     top: 0;
     left: 0;
     padding: 1.3rem 10%;
    width: 100%;
    background-color:#1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
     z-index : 100;
     box-sizing: border-box;
     
}

.logo{
    font-size: 2rem;
    color:#35469B;
    text-decoration: none;
    font-weight:700;
    font-family: sans-serif;
}

.navbar a{
font-size: 1rem;
color:white;
text-decoration: none;
font-weight:500;
font-family: sans-serif;
margin-left: 2.5rem;
}
.navbar a:hover{
    color:#35469B;
    transition: ease
}
#check{
    display:none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor:pointer;
    display:none;
}
.signup{
    padding: 10px 20px 10px 20px;
     background-color: #35469B;
   border-radius: 10px;
   color:white; 
   border:none;
   cursor:pointer; 
}
.hom{
    text-decoration:none;
}
/* .welcome{
    margin-top:20px;
    padding:20px 10%;
    background:#121212;
} */
.welcomeText{
    margin-bottom: 90px  ;
    font-size:2rem;
    margin-bottom: 1rem;
    color:#35469B ;
    
}
.hero{
    min-height: 45vh;
    margin-top: 70px;
    background: linear-gradient(135deg, #121212, #1e1e1e);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content{
    max-width: 900px;
    color: white;
    font-family: sans-serif;
    
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color:#35469B
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ccc;
}

.analytics{
    padding: 60px 10%;
    background-color: #1B1B1B;
    color: white;
    
}

.analytics h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #35469B;
    font-family: sans-serif;
}

.analytics-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px
}
.analytics h3{
    font-family: sans-serif;
    font-size:2rem
}

.analytics p{
    font-family: sans-serif;
    font-size:2rem;
}

.analytics-icon{
    font-size: 2.5rem;
}
.analytics-card{
    background: #121212;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid grey;
      display: flex;
    align-items: center;
    gap:10px;


}



.analytics-card h3{
    margin-bottom: 10px;
}

.analytics-card p{
    color: #ccc;
    font-size: 0.95rem;
}

.student-section{
    padding: 50px 10%;
    background-color: #1B1B1B;
     
}

.student-section h2{
        font-size: 2rem;
    margin-bottom: 40px;
    color: #35469B;
    font-family: sans-serif;
}
.student-form{
    padding: 40px 5%;
    background:black;
    border-radius: 10px;
    border:1px solid grey;
    flex:1;
    display:flex;
    gap:20px
}
.student-form input{
    padding:12px;
    flex:1;
    border:1px solid grey;
    border-radius: 10px;
    background:none;
    color:white;
}
.student-form button {
    padding: 12px;
    background:#35469B;
    color:white;
    border-radius: 10px;
    border:none;
    cursor:pointer;
}
.search{
    padding: 40px 10%;
    background-color: #1B1B1B;
     
}
.search h2{
           font-size: 2rem;
    margin-bottom: 40px;
    color: #35469B;
    font-family: sans-serif;
}
.searchInp {
       padding: 40px 5%;
    background:black;
    display:flex;
    gap:10px;
    border-radius: 10px;
    border: 1px solid grey;
    
}
.searchInp input {
    padding:12px;
    width:90%;
    flex:1;
    border:1px solid grey;
    background: none;
    border-radius: 10px;
    color:white
}
.searchInp button{
     padding: 12px;
    background:#35469B;
    color:white;
    border-radius: 10px;
    border:none;
    cursor:pointer
}
.theTable{
    display: flex;
    justify-content: center;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    color:white;
}

thead {
    background-color: #2a2a2a;
}

th, td {
    padding: 12px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #222;
}

tr:hover {
    background-color: #2e2e2e;
}
td button {
    margin-right: 5px;
    padding: 6px 10px;
    font-size: 0.85rem;
}

td button:last-child {
    background-color: red;
    border:none;
    border-radius :5px;
    color:white;
    cursor:pointer
}

footer{
    background: #1e1e1e;
    padding:1rem 0;
    text-align: center;
 
    color:white
}

@media (max-width: 768px) {
    
.student-form{
    padding: 40px 5%;
    background:black;
    border-radius: 10px;
    border:1px solid grey;
    display:flex;
    flex-direction: column;
    gap:20px

}
    

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 15px;
        background-color: #1e1e1e;
        border-radius: 8px;
        padding: 10px;
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
    }

    td::before {
        font-weight: bold;
        color: #aaa;
    }
   td:nth-child(1)::before { content: "id"; }
    td:nth-child(2)::before { content: "Name"; }
    td:nth-child(3)::before { content: "Email"; }
    td:nth-child(4)::before { content: "Score"; }
    td:nth-child(5)::before { content: "Actions"; }




}