*{
    margin:0;
    padding:0
    
}

body{
    background-color:  #121212;
    width:  100vw;
   height:100vh;

   overflow-x:hidden ;
}
header{
     position:fixed;
     top: 0;
     left: 0;
     padding: 1.3rem 10%;
    width: 100%;
    /* background-color:#1e1e1e; */
    display: flex;
    justify-content: space-between;
    align-items: center;
     z-index : 100;
     box-sizing: border-box;
     
}
/* header::before{
 content : "";
 position: absolute;
 width:100%;
 height:100%;
 background: red;
 top: 0;
 left: 0;
   background-color:#1e1e1e;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   z-index : -1;
} */

.logo{
    font-size: 2rem;
    color:#35469B;
    text-decoration: none;
    font-weight:700;
    font-family: sans-serif;
}

.navbar a{
font-size: 1rem;
color:white;
text-decoration: none;
font-weight:500;
font-family: sans-serif;
margin-left: 2.5rem;
}
.navbar a:hover{
    color:#35469B;
    transition: ease
}
#check{
    display:none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor:pointer;
    display:none;
}
.signup{
    padding: 10px 20px 10px 20px;
     background-color: #35469B;
   border-radius: 10px;
   color:white; 
   border:none;
   cursor:pointer; 
}
.hom{
    text-decoration:none;
}

.hero{
    min-height: 45vh;
    margin-top: 70px;
    background: linear-gradient(135deg, #121212, #1e1e1e);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content{
    max-width: 900px;
    color: white;
    font-family: sans-serif;
    
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color:#35469B
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ccc;
}

.analytics{
    padding: 60px 10%;
    background-color: #1B1B1B;
    color: white;
    
}

.analytics h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #35469B;
    font-family: sans-serif;
}

.analytics-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px
}
.analytics h3{
    font-family: sans-serif;
    font-size:2rem
}

.analytics p{
    font-family: sans-serif;
    font-size:2rem;
}

.analytics-icon{
    font-size: 2.5rem;
}
.analytics-card{
    background: #121212;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid grey;
      display: flex;
    align-items: center;
    gap:10px;


}



.analytics-card h3{
    margin-bottom: 10px;
}

.analytics-card p{
    color: #ccc;
    font-size: 0.95rem;
}

.student-section{
    padding: 60px 10%;
    background-color: #1B1B1B;
    color: white;
    text-align: center;
}

.student-section h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #35469B;
    font-family: sans-serif;
}

.student-section input{
    padding:12px;
    width:250px;
    border-radius: 10px;
    border: 1px solid grey;
    background: none;
}

.student-section button{
width:150px;
height:45px;
    background: #35469B;
    color:white;
    border-radius: 10px;
    border:none
}

@media (max-width: 768px) {
    .icons{
        display: inline-flex;
    }



   #check:checked~.icons #close-icon {
    display:block;
   }

     .icons #close-icon{
        display:none;
    }
    /* .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width:100%;
        height:0;
         background-color:#1e1e1e;
         overflow: hidden;
         transition: .3s ease;
    } */
 
    #check:checked~.navbar {
    height:17.7rem;
   
/* 
    .navbar a {
        display:block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform : translateY(-50px);
        transition: .3s ease;
    } */
   
       #check:checked~.navbar {
           transform : translateY(0);
         
   }

}}