*{
    margin:0;
    padding:0
    
}

body{
    background-color:  #121212;
    width:  100vw;
   height:100vh;

   overflow-x:hidden ;
}
header{
     position:fixed;
     top: 0;
     left: 0;
     padding: 1.3rem 10%;
    width: 100%;
    /* background-color:#1e1e1e; */
    display: flex;
    justify-content: space-between;
    align-items: center;
     z-index : 100;
     box-sizing: border-box;
     
}
header::before{
 content : "";
 position: absolute;
 width:100%;
 height:100%;
 background: red;
 top: 0;
 left: 0;
   background-color:#1e1e1e;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   z-index : -1;
}

.logo{
    font-size: 2rem;
    color:#35469B;
    text-decoration: none;
    font-weight:700;
    font-family: sans-serif;
}

.navbar a{
font-size: 1.15rem;
color:white;
text-decoration: none;
font-weight:500;
font-family: sans-serif;
margin-left: 2.5rem;
}
.navbar a:hover{
    color:#35469B;
    transition: ease
}
#check{
    display:none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor:pointer;
    display:none;
}
.signup{
    padding: 10px 20px 10px 20px;
     background-color: #35469B;
   border-radius: 10px;
   color:white; 
   border:none;
   cursor:pointer; 
}
.hom{
    text-decoration:none;
}

/* hero section */
.hero{
    min-height: 70vh;
    margin-top: 70px;
    background: linear-gradient(135deg, #121212, #1e1e1e);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content{
    max-width: 600px;
    color: white;
    font-family: sans-serif;
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color:#35469B
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ccc;
}

.hero-btn{
    padding: 12px 30px;
    background-color: #35469B;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
}

.why{
    padding: 80px 10%;
    background-color: #1B1B1B;
    color: white;
    text-align: center;
}

.why h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #35469B;
    font-family: sans-serif;
}

.why-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.why-card{
    background: #121212;
    padding: 30px;
    border-radius: 15px;
}

.why-card i{
    font-size: 3rem;
    color: #35469B;
    margin-bottom: 15px;
}

.why-card h3{
    margin-bottom: 10px;
}

.why-card p{
    color: #ccc;
    font-size: 0.95rem;
}

.for{
    padding: 80px 10%;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

.for h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #35469B;
    font-family: sans-serif;
}

.for-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.for-card{
    background: #121212;
    padding: 40px;
    border-radius: 15px;
}

/* .for-card i{
    font-size: 3rem;
    color: #35469B;
    margin-bottom: 15px;
} */

.for-card h3{
    margin-bottom: 10px;
    font-weight: 700;
    font-family: sans-serif;
    color:#35469B;
}

.for-card p{
    color: #ccc;
    font-size: 0.95rem;
}

.manage{
    min-height: 50vh;
    margin-top: 70px;
    background: linear-gradient(135deg, #121212, #35469B);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.manage-content{
    max-width: 700px;
    color: white;
    font-family: sans-serif;
}

.manage-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color:white
}

.manage-content p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: white;
}

.manage-btn{
    padding: 17px 30px;
    background-color: #35469B;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
}
footer{
    background: #1e1e1e;
    padding:2rem 0;
    text-align: center;
 
    color:white
}

@media (max-width:992px) {
    /* header{
        padding: 1.3rem 5%
    } */
}

@media (max-width: 768px) {
    .icons{
        display: inline-flex;
    }
   #check:checked~.icons #menu-icon {
    display:none;
   }

   #check:checked~.icons #close-icon {
    display:block;
   }

     .icons #close-icon{
        display:none;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width:100%;
        height:0;
         background-color:#1e1e1e;
         overflow: hidden;
         transition: .3s ease;
    }
 
    #check:checked~.navbar {
    height:17.7rem;
   }

    .navbar a {
        display:block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform : translateY(-50px);
        transition: .3s ease;
    }
   
       #check:checked~.navbar {
           transform : translateY(0);
         
   }

}