*{
    margin:0;
    padding:0;
}

body{
    width: 100vw;
    height:100vh;
     background-color:  #121212;
}
.uptext{
      color: #35469B;
    font-weight:700;
    font-family:sans-serif;
    font-size:1.4rem;
   margin-bottom:20px;
    padding: 0.3rem;
}
.logo{
    color: #35469B;
    font-weight:700;
    font-family:sans-serif;
    font-size:3rem;
    text-align:center;
    padding-top: 1.2rem;
}
.form-dad{
    width: 100%;
    height:90%;
    /* background: gray; */
    display:flex;
    justify-content: center;
    align-items:center;
}
.form-holder{
    width:500px;
    height:70%;
    background:#2D2D2F;
    border-radius:10px;
    display:flex;
       
    justify-content:center;
}
input{
    width: 85%;
    margin:0.4rem;
    margin-left: 20px;
    padding:18px;
    border-radius: 10px;
    border:1px solid gray;
    background: none;
    color:white
}
.sign{
      width: 92%;
    margin:0.4rem;
    margin-left:20px;
    padding:17px;
    border-radius: 10px;
    background: #35469B;
    color:white;
    border:none;
    cursor:pointer
}
.log{
    display: block;
    text-align: center;
    padding: 10px;
    color: #35469B;
    
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
} 

@media (max-width:440px) {
    input{
     width:85%;
    margin:0.5rem;
    padding:15px;
    color:white
    
    }
    .sign{
      width: 94%;
    margin:0.5rem;
    padding:15px;
    border-radius: 10px;
    background: #35469B;
    color:white;
    border:none;

}
.log{
        width: 95%;
    margin:0.5rem;
    padding:15px;
    border-radius: 10px;
    color: #35469B;
   background: none;
    border:none;
}

    .form-holder{
        display: flex;
        align-items:center;
        background-color:black;
    }
    body{
        background:black
    }
}

@media(max-width:767px){

}